.left-menu {
    position: fixed;
    top: 55px;
    bottom: 0;
    // padding-top: 55px;
    background: $while;

    .menu-content {
        margin: 0;
        list-style: none;
        padding: 0;

        .menu-item {
            a {

                &:hover {
                    background: #eee;
                }

                &.active {
                    color: $color_a;
                }

                display: block;
                padding: 10px 20px;
                color: $color_text_main;

                i.fa {
                    color: $color_a;
                    min-width: 17px;
                }

                .link-name {
                    margin-left: 5px;
                }
            }
        }
    }
}