<!-- <p-panelMenu [model]="items" styleClass="menu-content"></p-panelMenu> -->
<ul class="menu-content">
    <li class="menu-item" *ngFor="let item of items">
        <a routerLink="{{item.routerLink}}" routerLinkActive="active">
            <i class="fa {{item.icon}}" aria-hidden="true"></i>
            <span class="link-name">{{item.label}}</span>
        </a>
    </li>
</ul>