#header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    .topbar {
        height: 55px;

        .topbar-left {
            text-align: center;
            background: $color_element_bg;

            .logo {
                img {
                    width: 150px;
                }
            }
        }

        .topbar-right {
            text-align: right;
            padding-right: 35px;
            background: $while;

            .date {
                // display: inline-block;
                line-height: 42px;
                float: left;
                // font-size: 14px;
                margin-left: 17px;
                color: $color_a;
            }

            #user-ava {
                float: right;
                // display: inline-block;
                height: 100%;
                cursor: pointer;

                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    // border: 1px solid #333;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
                    margin-top: 3.5px;
                    float: left;
                }

                .info {
                    height: 100%;
                    float: left;

                    .fullname {
                        display: inline-block;
                        cursor: pointer;
                        min-width: 45px;
                        color: $color_a;
                        line-height: 42px;
                        padding-right: 15px;
                    }
                }
            }

            
        }
        .header-menu-bar {
            border: 0;
        }
    }
}

.tier-menu.ui-menu {
    width: 125px;
    border-color: $color_border_opacity;
    border-radius: 2px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1);

    .ui-menu-list {

        .ui-menuitem {
            .ui-menuitem-link {
                padding-left: 20px;
                padding-right: 20px;
                text-align: left;

                &:hover {
                    background: none;
                    color: $color_a;
                }
            }
        }
    }
}