<div id="header">
    <div class="topbar ui-g">
        <div class="topbar-left ui-g-12 ui-md-2">
            <!-- <a href="javascript:;" class="logo"><img src="\assets\images\logo.png" alt=""></a> -->
        </div>
        <div class="topbar-right ui-g-12 ui-md-10">

            <div id="user-ava" (click)="menu.toggle($event)">
                <div class="info">
                    <span class="fullname">{{currentUser.firstname + ' ' + currentUser.lastname}}</span>
                </div>
                <img src="\assets\images\default_avatar.png" alt="">
            </div>

            <div class="date">{{localTime}}</div>

            <p-menu #menu [model]="items" [popup]="true" styleClass="tier-menu" appendTo="body"></p-menu>
        </div>
    </div>
</div>