#user-manager-page {
    padding-top: 55px;

    .right-content {

        .content {
            padding: 0 15px;

            .page-title {
                margin-bottom: 12px;

                .title {
                    margin: 0;
                    font-weight: 600;
                    font-size: 24px;
                    display: inline-block;
                    margin-right: 40px;
                }

                .btn {
                    margin: 0;
                    color: $color_element_text;
                    background: $color_element_bg;
                    border: 1px solid $color_element_bg;
                }
            }

            .search-criteria {
                border-radius: 0;

                .ui-panel-titlebar {
                    background: $color_bg_header;

                    h4 {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin: 12px 0;
                    }
                }

                .more-search-creteria {
                    color: $color_a;
                    cursor: pointer;
                }

                .ui-panel-content {

                    label.label {
                        display: inline-block;
                        font-weight: 600;
                        margin-bottom: 5px;
                        min-height: 14px;

                        &.ui-radiobutton-label {
                            margin-bottom: 0;
                        }
                    }

                    .ui-radiobutton-icon::before {
                        display: inline-block;
                        margin-bottom: 2px;
                    }

                    .dropdown-wrap {
                        width: 100%;
                        
                        .dropdown {
                            border-radius: 2px;
                            width: 100% !important;

                            .ui-dropdown-label {
                                width: auto;
                                color: #000;
                            }

                            .ui-dropdown-panel {
                                border-radius: 2px;
                            }

                            .ui-dropdown-items-wrapper {

                                .ui-dropdown-items {

                                    .ui-state-highlight {
                                        background: $color_element_bg;
                                    }
                                }
                            }
                        }
                        
                    }

                    .calender {

                        position: relative;

                        .ui-calendar-button {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 32px;
                            border-radius: 0 2px 2px 0;
                            background: $color_element_bg;
                        }
                        
                        .input {
                            width: 100%;
                            border-radius: 2px;
                            color: #000;
                        }
                    }

                    .btn-search {
                        background: $color_element_bg;
                        width: 100px;
                        // position: absolute;
                        // bottom: 6.5px;
                        // right: 0;
                        float: right;
                        // margin-top: 24px;
                        // padding-left: 22px;

                        .ui-button-text {
                            padding-left: 22px;
                        }
                    }

                    .btn-clear {
                        width: 85px;
                        background: $while;
                        float: right;
                        color: #333;
                        border: 1px solid #d9d9d9;
                        margin-right: 10px;

                        .ui-button-text {
                            padding-left: 22px;
                        }
                    }

                }
                
            }

            .result {
                margin-top: 10px;

                .ui-panel-footer {
                    display: none;
                }

                table {

                    tr {
                        &.row-selected {
                            background: $color_selected;
                            color: $while;

                            .edit {
                                .fa {
                                    color: $while;
                                }
                            }
                        }
                    }

                    th {
                        font-weight: 600;
                    }

                    td {
                        .inactive {
                            color: $color_error;
                        }

                        &.ui-datatable-emptymessage {
                            text-align: center;
                        }

                        &.actions {
                            text-align: center;

                            a {
                                cursor: pointer;
                                min-width: 17px;
                                display: inline-block;

                                &.edit {
                                    margin-right: 7px;
                                }

                                &.delete {
                                    color: $color_error;
                                }
                            }
                        }
                    }

                    .cl-remove {
                        text-align: center;

                        .ui-chkbox {
                            margin: 0;
                        }

                        .ui-chkbox-box {
                            &.ui-state-active {
                                border-color: $color_border;
                                background: $color_border;
                            }

                            &.ui-state-disabled {
                                cursor: not-allowed !important;
                                opacity: 1;
                            }
                        }
            
                        .ui-state-focus {
                            border-color: $color_border;
                        }
                    }
                }

                .ui-datatable-footer {
                    position: absolute;
                    bottom: 8px;
                    left: 1px;
                    border: 0;
                    background: none;
                }

                .ui-paginator {
                    padding: 10px 0;

                    .ui-paginator-element {
                        color: $color_a;

                        &.ui-state-active {
                            background: $color_element_bg;
                            color: $while;
                        }
                    }
                }

                .btn-delete, .btn-save {
                    width: 90px;
                    background: $color_element_bg;

                    .ui-button-text {
                        padding-left: 20px;
                    }
                }

                .btn-delete {
                    background: $color_error;
                }

                .ui-panel-titlebar {
                    display: none;
                }

                .dropdown-wrap {
                    width: 100%;
                    
                    .dropdown {
                        border-radius: 2px;
                        width: 100% !important;

                        &.ui-state-disabled {
                            opacity: 1;
                            cursor: not-allowed;

                            .ui-dropdown-label {
                                cursor: not-allowed !important;
                            }
                        }

                        .ui-dropdown-label {
                            width: auto;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            font-size: 13px;
                            color: #000;
                        }                        

                        .ui-dropdown-panel {
                            border-radius: 2px;
                        }

                        .ui-clickable {
                            margin-top: .25em;
                        }

                        .ui-dropdown-items-wrapper {

                            .ui-dropdown-items {
                                border-radius: 2px;

                                li {
                                    background: $color_element_bg;
                                }

                                .ui-state-highlight {
                                    background: $color_element_bg;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}