<app-header></app-header>
<div id="user-manager-page">
    <div class="ui-g relative">
        <div class="left-menu ui-g-12 ui-md-2 rm-padding-left rm-padding-right rm-padding-top">
            <app-left-menu></app-left-menu>
        </div>
        <div class="right-content ui-g-12 ui-md-10 ui-md-offset-2">
            <div class="content">
                <div class="page-title">
                    <h3 class="title">User Management</h3>
                    <button pButton type="button" label="Add New User" class="btn" icon="fa-plus" (click)="redirectToAddNewUser()"></button>
                </div>

                <p-panel styleClass="search-criteria">
                    <p-header>
                        <h4>Search Criteria</h4>
                    </p-header>
                    <form #formSearch="ngForm" novalidate (keyup.enter)="search()">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-4 ui-lg-3">
                                <label class="label">Username</label>
                                <div class="ui-inputgroup">
                                    <input class="input input-100" type="text" name="username" [(ngModel)]="criteria.username" placeholder="Username">
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3">
                                <label class="label">First Name</label>
                                <div class="ui-inputgroup">
                                    <input class="input input-100" type="text" name="firstname" [(ngModel)]="criteria.firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3">
                                <label class="label">Last Name</label>
                                <div class="ui-inputgroup">
                                    <input class="input input-100" type="text" name="lastname" [(ngModel)]="criteria.lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3">
                                <label class="label">Email</label>
                                <div class="ui-inputgroup">
                                    <input class="input input-100" type="text" name="email" [(ngModel)]="criteria.email" placeholder="Email">
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3" [hidden]="!moreSearchCriteria">
                                <label class="label">Gender</label>
                                <div class="ui-inputgroup">
                                    <p-dropdown class="dropdown-wrap" name="gender" styleClass="dropdown" [(ngModel)]="criteria.gender" [options]="[{label: 'All', value: null}, {label: 'Male', value: 'MALE'}, {label: 'Female', value: 'FEMALE'}]"></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3" [hidden]="!moreSearchCriteria">
                                <label class="label">Created Date</label>
                                <!-- <div class="ui-inputgroup"> -->
                                <p-calendar #createDateFrom="ngModel" appRangeDateValidator="createDateTo" from="true" showIcon="true" name="createDateFrom" [(ngModel)]="criteria.createDateFrom" placeholder="From" inputStyleClass="input"
                                    styleClass="calender" [ngClass]="{'border-error': createDateFrom.invalid}"></p-calendar>
                                    <span class="text-error" [hidden]="createDateFrom.valid">From Date must be larger than To Date</span>
                                <!-- </div> -->
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3" [hidden]="!moreSearchCriteria">
                                <label class="label"></label>
                                <!-- <div class="ui-inputgroup"> -->
                                <p-calendar #createDateTo="ngModel" appRangeDateValidator="createDateFrom" from="false" showIcon="true" name="createDateTo" [(ngModel)]="criteria.createDateTo" placeholder="To" inputStyleClass="input"
                                    styleClass="calender" [ngClass]="{'border-error': createDateTo.invalid}"></p-calendar>
                                    <span class="text-error" [hidden]="createDateTo.valid">To Date must be less than From Date</span>
                                <!-- </div> -->
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-3" [hidden]="!moreSearchCriteria">
                                <label class="label">Status</label>
                                <div class="ui-inputgroup">
                                    <p-dropdown class="dropdown-wrap" name="status" styleClass="dropdown" [(ngModel)]="criteria.status" [options]="[{label: 'All', value: null}, {label: 'Active', value: true}, {label: 'Inactive', value: false}]"></p-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 relative">
                                <span class="more-search-creteria" (click)="toggleMoreSearchCrieria()">{{moreSearchCriteria ? 'Hide' : 'More'}}...</span>
                                <div class="btn-grop">
                                    <button pButton [disabled]="formSearch.invalid" type="button" label="Search" class="btn btn-search" icon="fa-search" (click)="search()"></button>
                                    <button pButton type="button" label="Clear" class="btn btn-clear" icon="fa-refresh" (click)="resetCriteria()"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-panel>

                <p-panel styleClass="result">
                    <p-dataTable #resultTable [editable]="true" [value]="dataResource" [lazy]="true" [rows]="5" [totalRecords]="totalRecords"
                        [paginator]="true" [resizableColumns]="true" [reorderableColumns]="true" (onLazyLoad)="loadUser($event)">
                        <!-- <p-header>Accounts</p-header> -->
                        <p-footer>{{'Total User' + (totalRecords > 1 ? 's: ' : ': ') + totalRecords}}</p-footer>
                        <p-column styleClass="cl-remove" [style]="{'width':'40px'}">
                            <ng-template pTemplate="header">
                                <p-checkbox binary="true" [(ngModel)]="deleteAll" class="cb-remove" (onChange)="toggleCheckboxDeleteAll()"></p-checkbox>
                            </ng-template>
                            <ng-template let-col let-user="rowData" pTemplate="body">
                                <p-checkbox appHighlight [disabled]="checkDefaultAdmin(user.username)" binary="true" [(ngModel)]="user['delete']" (ngModelChange)="toggleCheckboxDelete()"
                                    class="cb-remove"></p-checkbox>
                            </ng-template>
                        </p-column>
                        <p-column field="username" header="Username"></p-column>
                        <p-column field="firstname" header="Full Name">
                            <ng-template let-col let-user="rowData" pTemplate="body">
                                {{user.firstname + ' ' + user.lastname}}
                            </ng-template>
                        </p-column>
                        <p-column field="email" header="Email"></p-column>
                        <p-column field="phone" header="Phone"></p-column>
                        <p-column field="creTs" header="Created Date">
                            <ng-template let-user="rowData" pTemplate="body">
                                {{user.creTs | date:'MM/dd/y, hh:mm:ss a'}}
                            </ng-template>
                        </p-column>
                        <p-column field="lastUpdateTs" header="Last Updated">
                            <ng-template let-user="rowData" pTemplate="body">
                                {{user.lastUpdateTs | date:'MM/dd/y, hh:mm:ss a'}}
                            </ng-template>
                        </p-column>
                        <p-column field="status" header="Status" [editable]="true">
                            <ng-template let-user="rowData" pTemplate="body">
                                <span [ngClass]="{'inactive': !user.status}">{{user.status ? 'Active' : 'Inactive'}}</span>
                            </ng-template>
                            <ng-template let-col let-user="rowData" pTemplate="editor">
                                <p-dropdown [disabled]="checkDefaultAdmin(user.username)" class="dropdown-wrap" styleClass="dropdown" panelStyleClass="dropdown-panel"
                                    [(ngModel)]="user[col.field]" [options]="[{label: 'Active', value: true}, {label: 'Inactive', value: false}]"
                                    [autoWidth]="false" [style]="{'width':'100%'}" appendTo="body" (onChange)="updateStatus(user, resultTable)"></p-dropdown>
                            </ng-template>
                        </p-column>
                        <p-column header="Actions" styleClass="actions">
                            <ng-template let-col let-user="rowData" pTemplate="body">
                                <a class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a class="delete"><i *ngIf="!checkDefaultAdmin(user.username)" class="fa fa-trash" aria-hidden="true" (click)="delete(user, resultTable)"></i></a>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 relative text-right rm-padding-right">
                            <button pButton type="button" label="Delete" class="btn btn-delete" icon="fa-times" (click)="deleteMulti(resultTable)"></button>
                            <!-- <button pButton type="button" label="Save" class="btn btn-save" icon="fa-refresh" (click)="resetCriteria()"></button> -->
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog #confirmDeleteUser class="dialog-cus" header="Confirmation" key="confirmDeleteUser" icon="fa fa-question-circle"
    width="600">
    <p-footer>
        <button class="btn btn-no" type="button" pButton label="No" (click)="confirmDeleteUser.reject()"></button>
        <button class="btn btn-yes" type="button" pButton label="Yes" (click)="confirmDeleteUser.accept()"></button>
    </p-footer>
</p-confirmDialog>