<app-header></app-header>
<div id="profile-page">
    <div class="ui-g relative">
        <div class="left-menu ui-g-12 ui-md-2 rm-padding-left rm-padding-right rm-padding-top">
            <app-left-menu></app-left-menu>
        </div>
        <div class="right-content ui-g-12 ui-md-10 ui-md-offset-2">
            <div class="content">
                <div class="page-title">
                    <h3 class="title">Profile</h3>
                    <!-- <button pButton type="button" label="User Management" class="btn" icon="fa-chevron-left" (click)="redirectToAddNewUser()"></button> -->
                </div>

                <p-panel styleClass="profile">
                    <p-header>
                        <h4>User Information</h4>
                    </p-header>

                    <form #formProfile="ngForm" novalidate>

                        <div class="ui-g ui-fluid">

                            <div class="ui-g-12 ui-md-3">
                                <div class="avatar">
                                    <img src="\assets\images\default_avatar.png" alt="">
                                </div>
                                <ul class="actions">
                                    <li [hidden]="editMode">
                                        <a class="edit-profile" (click)="turnOnEditMode()">Edit Profile</a>
                                    </li>
                                    <li *ngIf="isEditRole">
                                        <a class="change-role">Change Role</a>
                                    </li>
                                    <li>
                                        <a class="change-pass" (click)="showDialogChangePass(formChangePass)">Change Password</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="ui-g-12 ui-md-7 ui-md-offset-1 ui-g-nopad">

                                <!-- <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Username</label>
                                        <div class="ui-md-6 rm-padding">
                                            <div class="ui-inplace-display text">{{user.username}}</div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">First Name</label>
                                        <div class="ui-md-6 rm-padding">
                                            <!-- <p-inplace closable="true" (onDeactivate)="deactiveEdit($event)">
                                                <span pInplaceDisplay>{{user.firstname}}</span>
                                                <div pInplaceContent>
                                                    <input required #firstname="ngModel" class="input ui-md-12" type="text" [(ngModel)]="userEdit.firstname" name="firstname"
                                                        placeholder="First Name" [ngClass]="{'border-error': firstname.invalid && firstname.dirty}">

                                                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                                                        <span class="text-error" *ngIf="firstname.errors.required">First Name is required.</span>
                                                    </div>
                                                </div>
                                            </p-inplace> -->
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.firstname}}</div>
                                            <div [hidden]="!editMode">
                                                <input required #firstname="ngModel" class="input ui-md-12" type="text" [(ngModel)]="userEdit.firstname" name="firstname"
                                                    placeholder="First Name" [ngClass]="{'border-error': firstname.invalid && firstname.dirty}">

                                                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                                                    <span class="text-error" *ngIf="firstname.errors.required">First Name is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Last Name</label>
                                        <div class="ui-md-6 rm-padding">
                                            <!-- <p-inplace closable="true" (onDeactivate)="deactiveEdit($event)">
                                                <span pInplaceDisplay>{{user.lastname}}</span>
                                                <div pInplaceContent>
                                                    <input required #lastname="ngModel" class="input ui-md-12" type="text" [(ngModel)]="userEdit.lastname" name="lastname" placeholder="Last Name"
                                                        [ngClass]="{'border-error': lastname.invalid && lastname.dirty}">

                                                    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                                                        <span class="text-error" *ngIf="lastname.errors.required">Last Name is required.</span>
                                                    </div>
                                                </div>
                                            </p-inplace> -->
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.lastname}}</div>
                                            <div [hidden]="!editMode">
                                                <input required #lastname="ngModel" class="input ui-md-12" type="text" [(ngModel)]="userEdit.lastname" name="lastname" placeholder="Last Name"
                                                    [ngClass]="{'border-error': lastname.invalid && lastname.dirty}">

                                                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                                                    <span class="text-error" *ngIf="lastname.errors.required">Last Name is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Gender</label>
                                        <div class="ui-md-6 rm-padding">
                                            <!-- <p-inplace closable="true" (onDeactivate)="deactiveEdit($event)">
                                                <span pInplaceDisplay>{{user.gender | titlecase}}</span>
                                                <div pInplaceContent>
                                                    <p-dropdown class="dropdown-wrap ui-md-6 rm-padding" [(ngModel)]="userEdit.gender" name="gender" styleClass="dropdown" [options]="[{label: 'Male', value: 'MALE'}, {label: 'Female', value: 'FEMALE'}]"></p-dropdown>
                                                </div>
                                            </p-inplace> -->
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.gender | titlecase}}</div>
                                            <div [hidden]="!editMode">
                                                <p-dropdown class="dropdown-wrap ui-md-6 rm-padding" [(ngModel)]="userEdit.gender" name="gender" styleClass="dropdown" [options]="[{label: 'Male', value: 'MALE'}, {label: 'Female', value: 'FEMALE'}]"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Email</label>
                                        <div class="ui-md-6 rm-padding">
                                            <!-- <p-inplace closable="true" (onDeactivate)="deactiveEdit($event)">
                                                <span pInplaceDisplay>{{user.email | lowercase}}</span>
                                                <div pInplaceContent>
                                                    <input required #email="ngModel" class="input ui-md-12" type="text" [(ngModel)]="userEdit.email" name="email" placeholder="Email"
                                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

                                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                                        <span class="text-error" *ngIf="email.errors.required">Email is required.</span>
                                                        <span *ngIf="email.errors.pattern">Ex: abc@mail.com</span>
                                                    </div>
                                                </div>
                                            </p-inplace> -->
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.email | lowercase}}</div>
                                            <div [hidden]="!editMode">
                                                <input required #email="ngModel" class="input ui-md-12" type="text" [(ngModel)]="userEdit.email" name="email" placeholder="Email"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

                                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                                    <span class="text-error" *ngIf="email.errors.required">Email is required.</span>
                                                    <span *ngIf="email.errors.pattern">Ex: abc@mail.com</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Birthday</label>
                                        <div class="ui-md-6 rm-padding">
                                            <!-- <p-inplace closable="true" (onDeactivate)="deactiveEdit($event); showCal = false;" (onActivate)="showCal = true">
                                                <span pInplaceDisplay>{{user.birthday | date:'fullDate'}}</span>
                                                <div pInplaceContent>
                                                </div>
                                            </p-inplace>
                                            <p-calendar *ngIf="showCal" class="ui-md-6 rm-padding" showIcon="true" [(ngModel)]="userEdit.birthday" name="birthday" placeholder="Birthday"
                                                inputStyleClass="input" styleClass="calender"></p-calendar> -->
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.birthday | date:'fullDate'}}</div>
                                            <div [hidden]="!editMode">
                                                <p-calendar class="ui-md-6 rm-padding" showIcon="true" [(ngModel)]="userEdit.birthday" name="birthday" placeholder="Birthday"
                                                    inputStyleClass="input" styleClass="calender"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Phone</label>
                                        <div class="ui-md-6 rm-padding">
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.phone}}</div>
                                            <div [hidden]="!editMode">
                                                <input class="input ui-md-12" type="text" [(ngModel)]="userEdit.phone" name="phone" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12">
                                    <div class="ui-inputgroup">
                                        <label class="label ui-md-3">Address</label>
                                        <div class="ui-md-6 rm-padding">
                                            <!-- <p-inplace closable="true" (onDeactivate)="deactiveEdit($event)">
                                                <span pInplaceDisplay>{{user.address}}</span>
                                                <div pInplaceContent>
                                                    <input class="input ui-md-12" type="text" [(ngModel)]="userEdit.address" name="address" placeholder="Address">
                                                </div>
                                            </p-inplace> -->
                                            <div [hidden]="editMode" class="ui-inplace-display text">{{user.address}}</div>
                                            <div [hidden]="!editMode">
                                                <input class="input ui-md-12" type="text" [(ngModel)]="userEdit.address" name="address" placeholder="Address">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-12" [hidden]="editMode">
                                    <span class="last-update-by">Last updated: {{user.lastUpdateBy}}, {{user.lastUpdateTs | date:'MM/dd/y, hh:mm:ss a'}}</span>
                                </div>

                            </div>
                        </div>

                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 relative">
                                <div [hidden]="!editMode" class="btn-grop">
                                    <button [disabled]="formProfile.invalid || formProfile.pristine" pButton type="button" label="Update" class="btn btn-create"
                                        icon="fa-floppy-o" (click)="edit()"></button>
                                    <button [disabled]="formProfile.pristine" pButton type="button" label="Reset" class="btn btn-reset" icon="fa-refresh" (click)="resetData(formProfile)"></button>
                                    <button pButton type="button" label="Cancel" class="btn btn-cancel" (click)="turnOffEditMode()"></button>
                                </div>
                            </div>
                        </div>

                    </form>
                </p-panel>

                <p-dialog [(visible)]="displayPopupChangePass" [width]="500" [modal]="true" styleClass="popup-style popup-change-pass">
                    <p-header>
                        <h4>Change Password</h4>
                    </p-header>
                    <form #formChangePass="ngForm">
                        <div class="ui-g ui-fluid">
                            <div class="ui-md-12">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-4">Current Password</label>
                                    <div class="ui-md-8 rm-padding">
                                        <input required #password="ngModel" class="input ui-md-12" type="text" [(ngModel)]="changePass.current" name="current" placeholder="Current Password"
                                            [ngClass]="{'border-error': password.errors && password.errors.required && password.dirty}">
                                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="password.errors.required">Current Password is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-md-12">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-4">New Password</label>
                                    <div class="ui-md-8 rm-padding">
                                        <input required minlength="8" appPasswordValidator="confirm" reverse="true" #newPassword="ngModel" class="input ui-md-12"
                                            type="text" [(ngModel)]="changePass.new" name="new" placeholder="New Password" [ngClass]="{'border-error': newPassword.errors && newPassword.errors.required && newPassword.dirty}">
                                        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="newPassword.errors.required">New Password is required.</span>
                                            <span *ngIf="newPassword.errors.minlength">New Password must be at least 8 characters.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui-md-12">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-4">Confirm New Password</label>
                                    <div class="ui-md-8 rm-padding">
                                        <input required #confirmPassword="ngModel" appPasswordValidator="new" reverse="false" class="input ui-md-12" type="text"
                                            [(ngModel)]="changePass.confirm" name="confirm" placeholder="Confirm New Password">
                                        <div *ngIf="newPassword.value && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
                                            <span class="text-error">Password mismatch.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 relative">
                                <div class="btn-grop">
                                    <button pButton [disabled]="formChangePass.invalid" type="button" label="Update" class="btn btn-create" icon="fa-floppy-o"
                                        (click)="updatePass()"></button>
                                    <button pButton type="button" label="Cancel" class="btn btn-cancel" (click)="displayPopupChangePass=false"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-dialog>

            </div>
        </div>
    </div>

</div>