<div id="login-page">
    <div class="login-form">

        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <span class="title">Login to your account</span>
            </div>
            <form #formLogin="ngForm" novalidate (keyup.enter)="submit(formLogin)">
                <div class="ui-g-12">
                    <input class="input input-100" type="text" name="username" [(ngModel)]="model.username" placeholder="Username" #username="ngModel" required [ngClass]="{'border-error': (username.invalid && username.dirty) || errors.username}">
                    <span class="text-error" [hidden]="(username.valid || username.pristine) && !errors.username">Username is required.</span>
                </div>

                <div class="ui-g-12">
                    <input class="input input-100" type="password" name="password" [(ngModel)]="model.password" placeholder="Password" #password="ngModel" required [ngClass]="{'border-error': (password.invalid && password.dirty) || errors.password}">
                    <span class="text-error" [hidden]="(password.valid || password.pristine) && !errors.password">Password is required.</span>
                </div>

                <div class="ui-g-12">
                    <span class="text-error">{{error}}</span>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g">
                        <div class="ui-g-6 rm-padding-left">
                            <p-checkbox name="rememberMe" binary="true" [(ngModel)]="model.rememberMe" label="Remember me" class="cb-remember-me"></p-checkbox>
                        </div>
                        <div class="ui-g-6 rm-padding-right">
                            <button pButton type="button" class="btn btn-login" label="Login" (click)="submit(formLogin)"></button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="ui-g-12 text-center">
                <a href="javascript:;">Fogot password</a>
            </div>

        </div>
    </div>
</div>