#login-page {
    .login-form {
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        width: 350px;
        margin-top: -159.75px;
        margin-left: -215px;
        padding: 40px;
        border-top: 5px solid $color_border;
        // transform: translate(-50%, -50%);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

        .title {
            font-size: 20px;
            color: $color_title;
        }

        input[type="text"], input[type="password"] {
            padding: 10px;
        }

        .btn-login {
            margin: 0;
            padding: 6px 16px;
            color: $color_element_text;
            background: $color_element_bg;
            border: 1px solid $color_element_bg;
            float: right;
            width: auto;
        }

        .cb-remember-me {
            display: inline-block;
            margin-top: 5px;

            .ui-chkbox-box.ui-state-active {
                border-color: $color_border;
                background: $color_border;
            }

            .ui-state-focus {
                border-color: $color_border;
            }
        }
    }
}