$while: #ffffff;
$color_element_text: #ffffff;
$color_element_bg: #33b5e5;
$color_border: $color_element_bg;
$color_title: $color_element_bg;
$color_a: $color_element_bg;
$color_text_main: #333;
$color_error: #d9534f;
$color_border_error: $color_error;
$color_border_opacity: rgba(0,0,0,.15);
$color_bg_header: $while;
$color_bg_border: #d9d9d9;
$color_selected: #33b5e5;