<app-header></app-header>
<div id="new-user-page">
    <div class="ui-g relative">
        <div class="left-menu ui-g-12 ui-md-2 rm-padding-left rm-padding-right rm-padding-top">
            <app-left-menu></app-left-menu>
        </div>
        <div class="right-content ui-g-12 ui-md-10 ui-md-offset-2">
            <div class="content">
                <div class="page-title">
                    <h3 class="title">Add New User</h3>
                    <!-- <button pButton type="button" label="User Management" class="btn" icon="fa-chevron-left" (click)="redirectToAddNewUser()"></button> -->
                </div>

                <p-panel styleClass="add-new-form">
                    <p-header>
                        <h4>User Information</h4>
                        <a routerLink="/admin/management"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back To User Management</a>
                    </p-header>
                    <form #formAddNew="ngForm" novalidate>

                        <!-- <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <p-fileUpload styleClass="avatar" name="avatar" [showUploadButton]="false" [showCancelButton]="false" accept="image/*" maxFileSize="1000000" (onSelect)="handleUpload($event)">
                                    <ng-template let-file pTemplate="file">
                                        <img class="preview-img" [src]="file.objectURL"/>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div> -->

                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Username</label>
                                    <div class="ui-md-6 rm-padding">
                                        <input autocomplete="false" required minlength="5" #username="ngModel" class="input ui-md-12" type="text" [(ngModel)]="user.username"
                                            name="username" placeholder="Username" [ngClass]="{'border-error': username.errors && username.errors.required && username.dirty}">

                                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="username.errors.required">Username is required.</span>
                                            <span *ngIf="username.errors.minlength">Username must be at least 5 characters.</span>
                                        </div>
                                    </div>
                                    <i class="required">*</i>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Password</label>
                                    <div class="ui-md-6 rm-padding">
                                        <input minlength="8" required #password="ngModel" class="input ui-md-12" name="roles" type="password" [(ngModel)]="user.password"
                                            name="password" placeholder="Password" [ngClass]="{'border-error': password.errors && password.errors.required && password.dirty}">
                                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="password.errors.required">Password is required.</span>
                                            <span *ngIf="password.errors.minlength">Password must be at least 8 characters.</span>
                                        </div>
                                    </div>
                                    <i class="required">*</i>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Role(s)</label>
                                    <div class="ui-md-6 rm-padding">
                                        <p-multiSelect class="multi-select-wrap ui-md-12 rm-padding" [(ngModel)]="user.roles" name="roles" styleClass="multi-select"
                                            defaultLabel="-- Select --" [options]="roles" [filter]="false"></p-multiSelect>
                                        <div class="alert alert-danger">
                                            <span class="text-error" *ngIf="user.roles && user.roles.length == 0">Role is required.</span>
                                        </div>
                                    </div>
                                    <i class="required">*</i>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <a class="ui-md-6 ui-md-offset-3 rm-padding default-pass" (click)="user.password = 'abcd@1234'">Using default password: abcd@1234</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">First Name</label>
                                    <div class="ui-md-6 rm-padding">
                                        <input required #firstname="ngModel" class="input ui-md-12" type="text" [(ngModel)]="user.firstname" name="firstname" placeholder="First Name"
                                            [ngClass]="{'border-error': firstname.invalid && firstname.dirty}">

                                        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="firstname.errors.required">First Name is required.</span>
                                        </div>
                                    </div>
                                    <i class="required">*</i>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Last Name</label>
                                    <div class="ui-md-6 rm-padding">
                                        <input required #lastname="ngModel" class="input ui-md-12" type="text" [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name"
                                            [ngClass]="{'border-error': lastname.invalid && lastname.dirty}">

                                        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="lastname.errors.required">Last Name is required.</span>
                                        </div>
                                    </div>
                                    <i class="required">*</i>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Gender</label>
                                    <p-dropdown class="dropdown-wrap ui-md-6 rm-padding" [(ngModel)]="user.gender" name="gender" styleClass="dropdown" [options]="[{label: 'Male', value: 'MALE'}, {label: 'Female', value: 'FEMALE'}]"></p-dropdown>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Birthday</label>
                                    <p-calendar class="ui-md-6 rm-padding" showIcon="true" [(ngModel)]="user.birthday" name="birthday" placeholder="Birthday"
                                        inputStyleClass="input" styleClass="calender"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Email</label>
                                    <div class="ui-md-6 rm-padding">
                                        <input required #email="ngModel" class="input ui-md-12" type="text" [(ngModel)]="user.email" name="email" placeholder="Email"
                                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

                                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                            <span class="text-error" *ngIf="email.errors.required">Email is required.</span>
                                            <span *ngIf="email.errors.pattern">Ex: abc@mail.com</span>
                                        </div>
                                    </div>
                                    <i class="required">*</i>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Address</label>
                                    <input class="input ui-md-6" type="text" [(ngModel)]="user.address" name="address" placeholder="Address">
                                </div>
                            </div>
                        </div>

                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <div class="ui-inputgroup">
                                    <label class="label ui-md-3">Phone</label>
                                    <input class="input ui-md-6" type="text" [(ngModel)]="user.phone" name="phone" placeholder="Phone">
                                </div>
                            </div>
                        </div>

                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 relative">
                                <div class="btn-grop">
                                    <button pButton [disabled]="formAddNew.invalid" type="button" label="Create" class="btn btn-create" icon="fa-plus" (click)="create()"></button>
                                    <button pButton type="button" label="Reset" class="btn btn-reset" icon="fa-refresh" (click)="formAddNew.reset()"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-panel>
            </div>
        </div>
    </div>
</div>