#new-user-page {
    padding-top: 55px;

    .content {
        padding: 0 15px;

        // .avatar {
        //     .ui-progressbar {
        //         display: none;
        //     }

        //     .preview-img {
        //         width: 200px;
        //     }

        //     .ui-button-text {
        //         padding-left: 24px;
        //     }

        //     .ui-fileupload-choose {
        //         background: $color_element_bg;
        //         border-radius: 2px;
        //     }
        // }

        .page-title {
            margin-bottom: 12px;

            .title {
                margin: 0;
                font-weight: 600;
                font-size: 24px;
                display: inline-block;
                margin-right: 40px;
            }

            .btn {
                margin: 0;
                color: $color_element_text;
                background: $color_element_bg;
                border: 1px solid $color_element_bg;
            }
        }

        .add-new-form {
            border-radius: 0;

            .ui-panel-titlebar {
                background: $color_bg_header;

                h4 {
                    font-size: 13px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 12px 0;
                    display: inline-block;
                    margin-right: 13px;
                   
                }
                
                a {
                    .fa {
                        margin-right: 7px;
                    }
                }
            }

            .ui-panel-content {

                .required {
                    display: inline-block;
                    margin-top: 9px;
                    margin-left: 5px;
                    color: $color_error;
                }

                label.label {
                    display: inline-block;
                    font-weight: 600;
                    // margin-bottom: 5px;
                    min-height: 14px;

                    &.ui-radiobutton-label {
                        margin-bottom: 0;
                    }
                }

                .ui-radiobutton-icon::before {
                    display: inline-block;
                    margin-bottom: 2px;
                }

                .dropdown-wrap {
                    // width: 100%;
                    
                    .dropdown {
                        border-radius: 2px;
                        width: 100% !important;
                        height: 33px;

                        .ui-dropdown-label {
                            width: auto;
                            line-height: 31px;
                            padding-top: 0;
                            padding-bottom: 0;
                            color: #000;
                        }

                        .ui-dropdown-panel {
                            border-radius: 2px;
                        }

                        .ui-dropdown-items-wrapper {

                            .ui-dropdown-items {

                                .ui-state-highlight {
                                    background: $color_element_bg;
                                }
                            }
                        }
                    }
                    
                }

                .multi-select-wrap {

                    .multi-select {
                        padding-top: 0;
                        padding-bottom: 0;
                        border-color: $color_bg_border;
                        border-radius: 2px;
                        height: 33px;

                        .ui-multiselect-label {
                            line-height: 31px;
                            padding: 0;
                        }

                        .ui-multiselect-trigger {
                            border-radius: 0 2px 0 2px;
                        }

                        .ui-multiselect-panel {
                            width: 100%;
                            border-radius: 0 2px 2px 0;
                            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);

                            .ui-chkbox-icon, .ui-state-highlight {
                                background: $color_element_bg;
                            }

                            .ui-state-active {
                                background: $color_element_bg;
                                border-color: $color_border;
                            }
                        }
                    }
                }

                .calender {

                    position: relative;

                    .ui-calendar-button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 32px;
                        border-radius: 0 2px 2px 0;
                        background: $color_element_bg;
                    }
                    
                    .input {
                        width: 100%;
                        border-radius: 2px;
                        height: 33px;
                        color: #000;
                    }
                }

                .btn-create {
                    background: $color_element_bg;
                    width: 100px;
                    // position: absolute;
                    // bottom: 6.5px;
                    // right: 0;
                    float: right;
                    // margin-top: 24px;
                    // padding-left: 22px;

                    .ui-button-text {
                        padding-left: 22px;
                    }
                }

                .btn-reset {
                    width: 85px;
                    background: $while;
                    float: right;
                    color: #333;
                    border: 1px solid #d9d9d9;
                    margin-right: 10px;

                    .ui-button-text {
                        padding-left: 22px;
                    }
                }

                .default-pass {
                    cursor: pointer;
                }
            }
        }
    }
}
