@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,400italic,300italic,300,600italic);

html, body {
    // position: relative;
    min-height: 100%;
}

body {
    // background: #f1f3f6;
    background: #e9e9e9;
    margin: 0;
    padding: 0;
    color:$color_text_main;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: $color_a;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.relative {
    position: relative;
}

.rm-padding {
    padding: 0 !important;
}

.rm-padding-left {
    padding-left: 0 !important;
}

.rm-padding-right {
    padding-right: 0 !important;
}

.rm-padding-top {
    padding-top: 0 !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-error {
    color: $color_error !important;
}

.border-error {
    border-color: $color_border_error !important;

    input {
        border-color: $color_border_error !important;
    }
}

.btn {
    border-radius: 2px !important;
}

.input {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 7px 10px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s ease;
    
    &.input-100 {
        width: 100%;
    }

    &:focus {
        border-color: $color_border;
    }
}

.dropdown-panel.ui-dropdown-panel {
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    
    .ui-dropdown-items-wrapper {

        .ui-dropdown-items {
            border-radius: 2px;

            li.ui-state-highlight {
                background: $color_element_bg;
            }

            .ui-state-highlight {
                background: $color_element_bg;
            }
        }
    }
    
}

.dialog-cus {
    .ui-confirmdialog {
        border-radius: 2px;

        .ui-dialog-titlebar {
            border-color: #d9d9d9;
            
            .ui-dialog-title {
                font-size: 15px;
                font-weight: 600;
            }
        }

        .ui-dialog-content {
            padding: 1em;

            .fa {
                display: none;
            }
        }

        .ui-dialog-footer {
            border: 0;

            .btn-yes {
                border-radius: 2px;
                background: $color_element_bg;
            }

            .btn-no {
                border-radius: 2px;
                background: $while;
                color: #333;
                border: 1px solid $color_bg_border;
            }
        }
        
    }
}

.growl-cus {
    .ui-growl-image {
        display: none;
    }

    .ui-growl-message {
        margin-left: 0;
    }

    .ui-growl-message-error {
        color: $color_error;
        background: $while;
        border: 1px solid $color_error;
    }
}

.tooltip-cus.error {

    .ui-tooltip-text {
        // padding: 5px;
        background: $color_error;
    }

    .ui-tooltip-arrow {
        border-right-color: $color_error;
    }
}