<!-- <app-header></app-header> -->

<router-outlet></router-outlet>

<p-confirmDialog class="session-expired dialog-cus" key="sessionExpired" header="Information" width="600" #cd>
    <p-footer>
        <button class="btn btn-ok" type="button" pButton label="OK" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-growl styleClass="growl-cus"></p-growl>